from utils import today


cfg = dict(
    # base config
    base=dict(
        cache_dir='cache/{}'.format(today()),
        remove_cache_before=7, # cache file will be removed before this day ago
        retry_time=3,
        run_once_per_day=True, # one day only run this program once
        static_dir='static',
    ),

    # pipeline config
    pipeline=[
        dict(
            type='StockHelper',
            index_symbols={'sh000001': '上证指数'}, # index code
            stock_symbols=[], # stock code
            days=14, # history days
        ),
        dict(
            type='StockLLMHelper',
            title='Deepseek对未来30天的纳斯达克指数走势预测',
            add_news=True,
            add_index_info=True,
            show_prompts=False,
            show_think=False,
            url='http://127.0.0.1:11434',
            model='deepseek-r1:32b',
            index_symbol='.NDX',
            index_name='纳斯达克指数',
            days=30,
        ),
        dict(
            type='ArXivHelper',
            title='Deepseek对近日CV研究热点的概括',
            query='cat:cs.CV',
            max_results=100,
            show_prompts=False,
            show_think=False,
            url='http://127.0.0.1:11434',
            model='deepseek-r1:32b',
        ),
        dict(
            type='WeatherHelper',
            city='成都', 
            tips=['穿衣指数', '感冒指数', '紫外线指数'] # tips to show
        ),
        dict(
            type='BingWallPaperHelper',
            url='https://bing.biturl.top/',
            data=dict(resolution=1920, format='json', index=0, mkt='zh-CN') # params or json data
        ),  
        dict(
            type='SummaryHelper',
            generate_toc=True,
        ),
        dict(
            type='MailHelper',
            user='your username here',
            password='your password here',
            host='smtp.your.host.here',
            port=465,
            to=['your_target_email1@example.com', 'your_target_email2@example.com'],
            subject='Daily Report',
        )
    ],
)


def get_cfg():
    for sche in cfg['pipeline']:
        for k, v in cfg['base'].items():
            sche[k] = v
    return cfg
